.account-main{
    width: 72%;
    height: 230px;
    position: absolute;
    z-index: -1;
    top: 13%;
    left: 28%;
}
.accbalance{
    width: 49.5%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0 ,0.25);
}
.transfer{
    position: relative;
    padding-left: 10px;
    top: -100%;
    left: 50%;
    width: 49.5%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0 ,0.25);
}
.accbalance i{
    position: relative;
    top: 1%;
    left: 80%;
    color: rgb(174, 176, 179);
}
.accbalance label{
    position: relative;
    top: 1.5%;
    left: 80%;
    color: rgb(174, 176, 179);
}
.accbalance hh{
    padding-left: 10px;
    display: grid;
    gap: 10px;
    color: rgb(174, 176, 179);
    font-size: 20px;
}
.accbalance pp2{
    color: lightsalmon;
}
.closeAcc{
    background-color: lightsalmon;
    border-radius: 15px;
    position: relative;
    left: 72%;
    top: -5%;
}
.radios{
    display: flex;
    align-items: center;
    color: rgb(174, 176, 179);
}
.ttt{
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.ttt2{
    position: relative;
    left: 4%;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.tttt{
    position: absolute;
    top: 30%;
    left: 50%;
}
.tttt2{
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.tttt3{
    position: relative;
    left: 14%;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.transferr{
    position: relative;
    top: 3%;
    left: 40%;
    background-color: lightsalmon;
    border-radius: 10px;
}
.looan{
    position: absolute;
    overflow: hidden;
    width:1450px;
    height: 2000px;
    top: 45%;
    left: 0%;
}