.servicePage{
    width: 100%;
    height: 700px;

}
.servicesComponents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
    width: 100%;
    height: 100%;
}
.servicess{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    place-items: center;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0 ,0.25);
    border-radius: 10px;

}
.services i3{
    font-size: 3rem;
    color: lightsalmon;
    position: relative;
    top: 30%;
}
.services-links{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 100;
    position: relative;
    top: -35%;
}
.servicess p{
    font-size: 0.7rem;
    font-weight: 50;
    position: relative;
    top: -80%;
    width: 50%;
}
.servicess:hover p{
    display: none;
}
.options{
    display: none;
}
.servicess:hover .options {
    display:grid;
    position: relative;
    top: -60%;
    transition:  0.5s;

}
.servicess:hover i3{
   position: relative;
   top: 0%;
   left: -70%;
   transition: all 0.5s ease-in-out;
}
.servicess:hover .services-links{
    position: relative;
    top: -100%;
    left: -25%;
    transition: all 0.5s ease-in-out;
}
.pay-main-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0;
    position: relative;
    top: -80%;
    left: 0%;
    width:400px ;
    height: 450px;
    place-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgb(0, 0, 0 ,0.25);
    border-radius: 10px;
    margin: 0 auto;
}
.pay-modal-inputs{
    display: grid;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    top: -20%;
}
.select-option{
    height: 50px;
}
.pay-title{
    width: 100%;
    background-color:lightsalmon;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    top: -20%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
}
.pay-modal-buttons{
    display: flex;
    gap: 2rem;
    position: relative;
    align-items: center;
    left: 16%;
    top: 100%;
}
.pay-modal-buttons button{
    width: 30%;
    background-color: lightsalmon;
}
.reminder-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0;
    position: relative;
    top: -80%;
    left: 0%;
    width:400px ;
    height: 450px;
    place-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgb(0, 0, 0 ,0.25);
    border-radius: 10px;
    margin: 0 auto;
}
.reminder-title{
    width: 100%;
    background-color:lightsalmon;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    top: -20%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
}
.reminder-inputs{
    display: grid;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    top: -20%;
}
.reminder-select{
    height: 50px;
}
.reminder-modal-buttons{
    display: flex;
    gap: 2rem;
    position: relative;
    align-items: center;
    left: 16%;
    top: 100%;
}
.reminder-modal-buttons button{
    width: 30%;
    background-color: lightsalmon;
}
.creditcard-main-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0;
    position: relative;
    top: -80%;
    left: 0%;
    width:400px ;
    height: 700px;
    place-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgb(0, 0, 0 ,0.25);
    border-radius: 10px;
    margin: 0 auto;
}
.creditcard-modal-buttons{
    display: flex;
    gap: 2rem;
    margin-left: 10px;
}
.creditcard-modal-btn-apply{
    background-color:lightsalmon ;
}
.creditcard-modal-btn-cancel{
    background-color: lightsalmon;
}
.creditcard-modal-btn-apply:hover{
    background-color: lightsalmon;
}
.creditcard-modal-btn-cancel:hover{
    background-color: lightsalmon;
}
.creditcard-modal-inputs{
    display: grid;
    justify-content: space-between;
    margin-top: 20px;
}