  
  .boody {
    background-color: #C94926;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 100px;
    padding-top: 20px;
    margin-bottom: 35px;
  }
  
  .search-bar {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 100px;
    margin-right: 10px;
  }
  .search-bar::placeholder {
    color: #000000;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #ffa500;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 100px;
  }
  .search-button:hover {
    background-color: #45a049; /* Change the background color when hovered */
  }
  
  .search-button:active {
    background-color: #367c3e; /* Change the background color when pressed */
  }
  
  .search-button:focus {
    outline: none; /* Remove the default focus outline */
  }
  .statistics-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: 500px;
  }
  
  /* Block styles */
  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #C94926;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .number {
    font-size: 60px;
    font-weight: bold;
  }
  
  .text {
    font-size: 32px;
    font-weight: bold;
    padding-top: 45px;
  }
  .status-bar {
    background-color: #f1f1f1;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #555;
    position: relative;
    border-radius: 25px;
    margin-top: 20px;
    width: 35%;
    
  
  }
  
  .status-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4CAF50;
    width:50%;
    border-radius: 25px;
    opacity: 70%;
  }
  .footer {
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 50px;
    justify-content: center;
  }
  
  /* Button styles */
  .dbutton {
    background-color: #9A0E2A;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    padding: 20px;
    width: 380px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-color: #000000;
  }
  .button-reports{
    background-color: #D2EA57;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    padding: 20px;
    width: 380px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-color: #000000;
  }
  
  
  .button:hover {
    border-color: #4CAF50;
  }
  .button-reports:hover {
    border-color: #4CAF50;
  }
  .Welcome{
  margin-top: 30px;
  padding-top: 40px;
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
  }